.octocat {
  width: 31%;
  float: left;
  margin: 15px;
}

.octocat::after {
  clear: both;
  content:"";
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
}

.octocat img {
  height: auto;
  width: 100%;
  border: 1px solid #CACACA;
  border-radius: 1%;
}

.image-footer::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #CACACA;
    position: relative;
    top: 3px;
    left: 380px;
}

.image-footer {
  height: 45px;
  padding-bottom: 3px;
  border-bottom: 1px solid #CACACA;
}

.image-number::before {
  content:"#";
  font-size: 1.2em;
}

.image-number {
  color: #CACACA;
  font-weight: bold;
  letter-spacing: 0.1em;
  float: left;
  padding-top: 10px;
}

.image-number::after {
  content:"";
  clear: both;
}

.image-caption {
  float:right;
  padding: 2px;
}

.authors {
  display: inline-block;
}

/*.authors li {
  display: inline;
}*/

.authors img {
  height: auto;
  width: 30px;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding-top: 7px;
}

a {
  text-decoration: none;
  color: #323A3D;
  font-weight: bold;
  font-size: 1em;
  font-family: sans-serif;
}

span {
  color: #999;
  font-weight: bold;
  font-size: 1em;
  font-family: sans-serif;
}

.image-caption span, a {
  display: inline-block;
  vertical-align: middle;
}
